.env
.venv/
__pycache__/
*.pyc
*.zip

# storages data
storages/

# logs
*.log
logs/

.vscode/extensions.json
notes.txt

src/.egg-info/
*.egg-info/
pycache/



/logs
*.log
logs/actions.log

# Android
android/.gradle/
android/**/build/
android/.idea/
*.apk

/android/.idea
/android/.gradle
/android/**/build

android/local.properties (там пути к SDK, строго локально)
android/*.iml
android/.externalNativeBuild/
android/.cxx/
.idea/zsus.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/caches/deviceStreaming.xml
android/local.properties
